<div id="<%= dom_id booking %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Group:</strong>
    <%= booking.group_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Venue:</strong>
    <%= booking.venue_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Concert:</strong>
    <%= booking.concert_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date booked:</strong>
    <%= booking.date_booked %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Booked fee:</strong>
    <%= booking.booked_fee %>
  </p>

</div>
