<div id="<%= dom_id group %>">
  <p>
    <strong>Title:</strong>
    <%= group.title %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= group.contact %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= group.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= group.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= group.phone %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= link_to group.image.filename, group.image if group.image.attached? %>
  </p>

</div>
