
<%= form_with(model: venue, data: {controller: "map"}) do |form| %>
  <% if venue.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
        <% venue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :contact, style: "display: block" %>
    <%= form.text_field :contact %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>
  <div data-controller="map">
  <%= form.hidden_field :address, data: {"map-target": "address"} %>
  <%= form.hidden_field :latitude, data: {"map-target": "latitude"} %>
  <%= form.hidden_field :longitude, data: {"map-target": "longitude"} %>
  <div data-map-target="container" style="min-height: 300px"></div>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
