<div id="<%= dom_id venue %>">
  <p>
    <strong>Name:</strong>
    <%= venue.name %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= venue.contact %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= venue.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= venue.address %>
  </p>
  <div data-controller="map">

  <div data-map-target="container" style="min-height: 300px"></div>
  </div>
  <p>
    <strong>Phone:</strong>
    <%= venue.phone %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= link_to venue.image.filename, venue.image if venue.image.attached? %>
  </p>

</div>
