<div id="<%= dom_id venue %>">
  <p>
    <strong>Name:</strong>
    <%= venue.name %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= venue.contact %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= venue.email %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= link_to venue.website, venue.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= venue.address %>
  </p>

  <%= js_map [{latitude: venue.latitude, longitude: venue.longitude}], width: "300px", height: "300px" %>
  <p>
    <strong>Phone:</strong>
    <%= venue.phone %>
  </p>

<!--  <p>-->
<!--    <strong>Image:</strong>-->
    <%#= image_tag venue.image, width: "300px", height: "300px" %>
    <%#= link_to venue.image.filename, venue.image if venue.image.attached? %>
<!--  </p>-->

</div>
