<div id="<%= dom_id concert %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Group:</strong>
    <%= Group.find(concert.group_id).title unless Group.find(concert.group_id).nil? %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= concert.title %>
  </p>

  <% if concert.start_time %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Venue:</strong>
    <%= Venue.find(concert.venue_id).name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= concert.start_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End time:</strong>
    <%= concert.end_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fee:</strong>
    <%= concert.fee %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Paid:</strong>
    <%= concert.paid %>
  </p>
  <% end %>

  <h1>Pieces:</h1>
  <p class="my-5">
    <% concert.pieces.each do |p| %>
    <%= link_to  p.title, p.recording %>
    <% end %>
  </p>

</div>
