<div id="<%= dom_id concert %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Group:</strong>
    <%= concert.group_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= concert.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Venue:</strong>
    <%= concert.venue_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= concert.start_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End time:</strong>
    <%= concert.end_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fee:</strong>
    <%= concert.fee %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Paid:</strong>
    <%= concert.paid %>
  </p>

</div>
